* {
	box-sizing: border-box;
}
body {
	background-color: #202346;
	margin: 0;
}
.main {
	margin-top: 1.7rem;
	display: flex;
	flex-wrap: wrap;
}
.container {
	max-width: 1400px;
}
.header {
	z-index: 1000;
	display: flex;
	justify-content: center;
	background-color: rgb(54, 41, 100);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.header input {
	color: #fff;
	padding: 0.5rem 1rem;
	background-color: rgb(54, 41, 100);
	border: 1px solid rgb(185, 156, 255);
	border-radius: 6px;
	height: 100%;
}
.header input:active {
	border: none;
}
.header input:focus {
	border: none;
}
.header input::placeholder {
	color: rgb(161, 161, 161);
}
.movie {
	overflow: hidden;
	position: relative;
	margin: 2rem;
	border-radius: 3px;
	box-shadow: 0 4px 5px #000;
	height: auto;
	width: 260px;
}
.movie:hover .overview {
	transform: translateY(0);
}
.movie img {
	object-fit: cover;
	height: 400px;
	width: 100%;
}
.movie-info {
	position: relative;
	font-size: 15px;
	background-color: rgb(54, 41, 100);
	color: rgb(202, 196, 255);
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	letter-spacing: 1px;
}
.movie-info h3 {
	margin: 0;
}
.movie-info span {
	position: absolute;
	bottom: 20px;
	right: 5px;
	color: #000;
	font-weight: bold;
	background-color: #ffffff83;
	padding: 0.25rem 0.5rem;
}
.movie-info span.green {
	background-color: #59ff7d83;
}

.movie-info span.orange {
	background-color: rgb(255, 196, 119);
}

.movie-info span.red {
	background-color: rgb(255, 188, 188);
}
.overview {
	background-color: rgb(53, 39, 85);
	padding: 1rem;
	color: #fff;
	position: absolute;
	max-height: 100%;
	overflow: auto;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateY(100%);

	transition: 0.2s ease all;
}
